.popup{
    position: fixed;
    top: 0;
    left: 0;
    right: 0;
    bottom: 0;
    background-color: rgba(0, 0, 0, .5);
    display: flex;
    align-items: center;
    justify-content: center;
}

.popup-window{
    width: 400px;
    height: 450px;
    background-color: white;
}

.popup-header{
    padding: 10px;
    text-align: center;
    color: white;
    background-color: #5C87e6;
}

.footer-buttons {
    background-color: white;
    border: none;
    margin-left: 20px;
    padding: 10px;
    transition-duration: 200ms;
}


.footer-buttons:hover {
    background-color: lightgray;
    transition-duration: 200ms;
}

.popup-footer{
    padding-left: 95px;
}

.popup-body{
    padding: 30px;
    border-top: 1px solid #eee;
    align-items: center;
}

.popup-title{
    margin: 0;
}



.popup-form{
    display: table;
}

.popup-input{
    right: 150px;
    width: 45%;
    margin: 20px;
    padding: 5px;
    display: table-cell;
}




