
.SideBar {
    width: 15%;
    background-color: #536473;
    overflow:hidden;
    padding-bottom: 100%;
    margin-right: 10px;
    float:left;
    padding-right: 2px;
}

.SideBarButton {
    width: 48%;
    height: 50px;
    background-color: #536473;
    border-style: none;
    color: white;
    transition-duration: 200ms;
    border: 1px solid black;
    border-radius: 2px;
    margin: 1%;
    margin-top: 20px;
}


.SideBarButton:hover {
    background-color: #f0f3f8;
    transition-duration: 200ms;
    color: black;
}


.taskHeader {
    background-color: #5C87e6;
    color:white;
    padding: 10px;
}

.taskBox {
    background-color: #F0F3F8;
    width: 27%;
    padding-bottom: 100%;
    margin: 10px;
    margin-top: 20px;
    display: inline-block;
    position: relative;
    text-align: center;
}

.taskParent {
    white-space: nowrap;
}