
.SideBar {
    width: 15%;
    background-color: lightblue;
    overflow:hidden;
    padding-bottom: 100%;
    margin-right: 10px;
    float:left;
}

.SideBarButton {
    width: 50%;
    height: 50px;
}

.SideBarButtons:hover {
    
}


.taskBox {
    background-color: lightgray;
    width: 27%;
    padding-bottom: 100%;
    margin: 10px;
    margin-top: 20px;
    display: inline-block;
    position: relative;
}

.taskParent {
    white-space: nowrap;
}